{% extends "_base.html" %}

{% block head %}
    <title>{{ tag_name }} | {{ title }} - 我有绣春刀</title>
{% endblock %}

{% block main %}
    <div class="post-list">
        {% for post in posts %}
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-link" href="/post/{{post.en_title}}">{{post.zh_title}}<code class="highlighter-rouge">{% if post.is_top %}[置顶]{% endif %}</code></a>
                    </h2>
                    <div class="post-meta">
                        <time>{{post.time | post_datetime}}</time>
                    </div>
                    <div class="post-tags">
                        {% for post_tag in post.tags %}
                            <a href="/tag/{{post_tag.tag.tag_name}}" class="tags-button">{{post_tag.tag.tag_name}}</a>
                        {% endfor %}
                    </div>
                </header>

                <div class="post-content">{{post.html_content | safe}}</div>
            </article>
        {% endfor %}
    </div>


    <nav class="pagination">
        <a href="/tag/{{tag_name}}">首页</a>

        {% if pagination.page > 2 %}
            <a href="/tag/{{tag_name}}/{{pagination.page - 2}}">{{pagination.page - 2}}</a>
        {% endif %}
        {% if pagination.page > 1 %}
            <a href="/tag/{{tag_name}}/{{pagination.page - 1}}">{{pagination.page - 1}}</a>
        {% endif %}

        <a href="/tag/{{tag_name}}/{{pagination.page}}" class="current-page">{{pagination.page}}</a>

        {% if pagination.page + 1 <= total_page %}
            <a href="/tag/{{tag_name}}/{{pagination.page + 1}}">{{pagination.page + 1}}</a>
        {% endif %}
        {% if pagination.page + 2 <= total_page %}
            <a href="/tag/{{tag_name}}/{{pagination.page + 2}}">{{pagination.page + 2}}</a>
        {% endif %}

        <a href="/tag/{{tag_name}}/{{total_page}}">末页</a>
    </nav>
{% endblock %}

{% block javascript %}
    <script src="/lib/highlight-9.4.0.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}